body{
    background-color: #fffffe;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fffffe;
}

.header{
    background-color: #272343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.header h1{
    color: #e3f6f5;
}

.header .navbar a{
    color: #fffffe;
    text-decoration: none;
    padding-left: 25px;
}

.navbar a:hover{
    color: #ffd803;
}