@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fffffe;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #272343;
}

h1 , h2 , h3 , p{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #272343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 12vh;
}

.header-icon{
    display: flex;
    align-items: center;
}

.header-icon h1{
    color: #e3f6f5;
}

.header-icon img{
    width: 55px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.header .navbar a{
    color: #fffffe;
    text-decoration: none;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar a:hover{
    color: #ffd803;
    transform: scale(0.5);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('https://img.freepik.com/premium-photo/modern-chic-stylish-flat-lay-composition-with-coffee-cup-elegant-gold-black-background_444642-32310.jpg?w=740');
    background-size: cover;
    background-position: center;
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content{
    width: 800px;
}
.hero-content h2{
    color: #fffffe;
    font-size: 3rem;
    margin-bottom: 14px;
}

.hero-content p{
    font-size: 16px;
    color: #bebebe;
}

.hero-content button{
    cursor: pointer;
    margin-top: 20px;
    padding: 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffd803;
    color: #272343;
}

.hero-content button:hover{
    background-color:#dab900 ;
}

.content{
    background-color: #e3f6f5;
    padding: 20px;
}

.content h2{
    color: #272343;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-container{
    max-width: 1100px;
    min-height: 75vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    background-color: white;
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #00000011, 0px 8px 5px #00000011;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card button{
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    background-color: #ffd803;
    color: #272343;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover{
    background-color: #eecb04;
}

.aboutus{
    background-color: #fffffe;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 500px;
}

.about-content p{
    margin-top: 40px;
    color: #5c5c5c;
}

.contact-container{
    background-color: #e3f6f5;
    padding: 20px;
}

.contact-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    outline: solid 1px #272343;
}

.contact-form button {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    background-color: #ffd803;
    color: #272343;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #e6c300;
}
